@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Benne&family=Kirang+Haerang&display=swap');

 
h5 {
    font-family: Benne;
    font-size: 20px;
    margin-bottom: 0px;
}    
    
.card-header h4 {
    font-size: 28px;
    font-family: Kirang Haerang ;
    padding-right: 42px;
    margin-bottom: 0px;
}    

.form-group input {
    padding-right: 30px;
    padding-left: 30px;
}
.form-group button {
    color: white;
    background-color: #000000;
    cursor: pointer;
}
.form-group button:hover{
    background-color: red;
    opacity: 0.5;   
}

.footer-link a:hover {
    color: #fc544b;
    cursor: pointer;
}


.section {
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 20px;
  }
  

.login-brand {
    margin: 20px 0;
    margin-bottom: 40px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #666;
    text-align: center;
  }

  .shadow-light {
    box-shadow: 0 2px 6px black;
  }

  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    background-color: #fff;
    border-radius: 3px;
    border: none;
    position: relative;
    margin-bottom: 30px;
  }
  
  .card .card-body {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .card.card-primary {
    border: 10px solid black;
    text-align: center;
  }

  
.card .card-header {
    border-bottom-color: #000000;
    line-height: 30px;
    -ms-grid-row-align: center;
    align-self: center;
    width: 100%;
    min-height: 70px;
    padding: 15px 25px;
    align-items: center;
  }
  
.form-group {
    margin-bottom: 25px;
  }

.text-danger {
    color: #fc544b !important;
}

.form-control {
    background-color: #fdfdff;
    border-color: #e4e6fc;
}

.simple-footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}








