.form-group col-12 h5 {
    margin-right: 12px;

}

.footer-login a:hover {
    color: red;
    opacity: 0.8;
    cursor: pointer;
}

.footer-login {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 20px;
    font-size: 15px;
}